### Rewrite Rules Added by CyberPanel Rewrite Rule Generator

RewriteEngine On
RewriteCond %{HTTP_HOST} !^(localhost|127\.0\.0\.1|10\.0\.2\.2)(:[0-9]+)?$ [NC]
RewriteCond %{HTTPS}  !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

### End CyberPanel Generated Rules.

RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/sw.js$ [NC]
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

<Files "private.pem">
    Order Allow,Deny
    Deny from all
</Files>
